<h2> User </h2>
<div class="row">
  <div *ngFor="let users of users$" class="col-6 my-2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{users.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{users.username}}</h6>
        <p class="card-text small">{{users.email}}</p>
        <a routerLink='/details/{{users.id}}' class="card-link">Details Users</a>
      </div>
      <div class="card-footer">
        <a href="http://{{users.wesite}}" class="card-link">{{users.website}}</a>
      </div>
    </div>
  </div>
</div>
