
<div class="container">
  <div>
    <h1>{{title}}</h1>
  </div>
  <div class="row"><!--cette section divise l'app en deux partie ( side-bar / menu et contenues ) -->
    <div class="col-2">
      <app-sidebar></app-sidebar>
    </div>

    <div class="col-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
