<nav class="sidebar py-2 ">
  <ul class="nav flex-column">
    <li class="nav-item align-self-center">
      <a routerLink='' class="nav-link" [class.active]="currentUrl == '/'">
        <i class="material-icons">supervised_user_circle</i>
      </a>
    </li>
    <li  class="nav-item align-self-center">
      <a routerLink='/posts' [class.active]="currentUrl == '/posts'" >
        <i class="material-icons">message</i>
      </a>
    </li>
  </ul>
</nav>
