<h2> Posts </h2>
<div class="row">
  <div *ngFor="let post of posts$" class="col-6 my-2">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title  text-bold">{{post.title}}</h4>
        <p class="card-text small">{{post.body}}</p>
      </div>
      <div class="card-footer">
        <a routerLink="" class="card-link small">{{post.title}}</a>
      </div>
    </div>
  </div>
</div>
