<div class="containers">
  <h2>{{user$.name}}</h2>
  <div class="row">
    <div class="col-6">
      <h3>Contact</h3>
      <a href="mailto:{{user$.email}}">{{user$.email}}</a>
      <p>phone</p>
      <a href="tel:+{{user$.phone}}">{{user$.phone}}</a>
    </div>
    <div class="col-6">
      <h3>Info</h3>
      <p>{{user$.website}}</p>
      <p>{{user$.address?.street}}</p>
      <p>{{user$.address?.suite}}</p>
  </div>
</div>
